body {
	font-size:1.2em;
	color: maroon;
	font-family: Comic Sans MS, arial;
	background: cornsilk;
}

a {
	text-decoration: none;
}
body {
	font-size:1.2em;
	color: maroon;
	font-family: Comic Sans MS, arial;
	background: cornsilk;
}

a {
	text-decoration: none;
}
body {
	font-size:1.2em;
	color: maroon;
	font-family: Comic Sans MS, arial;
	background: cornsilk;
}

a {
	text-decoration: none;
}
body {
	font-size:1.2em;
	color: maroon;
	font-family: Comic Sans MS, arial;
	background: cornsilk;
}

a {
	text-decoration: none;
}
