html {
  background: cornsilk;
}

body {
  font-size: 1.2em;
  color: maroon;
  font-family: Comic Sans MS, arial;
  background: cornsilk;
}

.navDo,
.footerDo {
  background-color: #ffdd90;
}

.navDo a,
.footerDo p {
  margin: 2px 5px;

}

.main {
  width: 97%;
  margin: 5px auto;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.cellDo {
  margin: 10px;
  border: 1px solid red;
  border-radius: 7px;
  background-color: white;
}

.buttonDo {
  border-radius: 7px;
}

.hrDo {
  margin: 5px 0;
}

.meaDo {
  /* Mise En Avnt Do a */
  margin: 0 4em;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  border: 3px solid orange;
  text-shadow: -1px 2px 3px orange,
  -2px 3px 5px #ff1813,
  -3px 4px 10px #000;
  box-shadow: -7px 5px 5px #bdbdbd;
  border-radius: 7px;
  background-color: #fff;
  padding-bottom: 5px;
}

.bleuDo {
  color: #0052ff;
}

.fdJauneDo {
  background-color: yellow;
}
