body {
    font-size: 1.2em;
    color: maroon;
    font-family: Comic Sans MS, arial;
    background: cornsilk;
    width: 97%;
    margin: 0 auto;
}


a {
    text-decoration: none;
}


.cellDo {
    margin: 10px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: white;
}

.buttonDo {
    border-radius: 7px;
}
