@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

@font-face {
    font-family: actionManShaded;
    src: url('/agc7/assets/fonts/actionManShaded/actionManShaded.ttf');
}

body,
html {
    background: #fff8dc
}

body {
    color: maroon;
    font-family: Comic Sans MS, arial;
    font-size: 1.2em;
    margin: 0
}

.footerDo,
.navDo {
    background-color: #ffdd90
}

.footerDo p,
.navDo a {
    margin: 2px 5px
}

.main {
    margin: 5px auto;
    width: 97%;
}

.titreCoursDo {
    border-bottom: 2px solid #cccccc;
    box-shadow: 0 1px 0 white;
    font-family: actionManShaded, 'roboto', arial;
    font-size: 1.5em;
    padding-bottom: .2em;
    margin-bottom: .3em;
}

.titreCoursDo a {
    color: maroon;
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

a {
    text-decoration: none
}

.cellDo {
    background-color: #fff;
    border: 1px solid red;
    border-radius: 7px;
    margin: 10px;
}

.buttonDo {
    border-radius: 7px
}

.hrDo {
    margin: 5px 0
}

.meaDo {
    background-color: #fff9f0;
    border: 3px solid orange;
    border-radius: 7px;
    box-shadow: -7px 5px 5px #bdbdbd;
    color: #fff9f0;
    font-size: 1.4em;
    margin: 10px 4em;
    padding: 3px 5px;
    text-align: center;
    text-shadow: -1px 2px 3px orange, -2px 3px 5px #ff1813, -3px 4px 10px #000;
}

.pb10 {
    padding-bottom: 10px
}

.bleuDo {
    color: #0052ff
}

.fdJauneDo {
    background-color: #ff0
}

.fdRougeDo {
    background-color: red;
    border: 2px solid #000
}

.fdNoireDo {
    background-color: #000;
    color: #fff;
}

.espaceEntreCodePostalEtCommune {
    margin-left: 10px
}

.policeGc7 {
    font-family: verdana;
    font-size: 12rem; /* Seul paramètre à changer, les autres s'adaptent */
    font-weight: 800;
    color: cornsilk;
    text-shadow: .01em -.01em 0 black,
    .015em -.015em 0 black,
    .02em -.02em 0 black,
    .025em -.025em 0 black,
    .03em -.03em 0 black,
    .035em -.035em 0 black,
    .04em -.04em 0 black,
    .045em -.045em 0 black,
    .05em -.05em 0 black,
    .055em -.055em 0 black,
    .06em -.06em 0 black,
    .065em -.065em 0 black,
    .07em -.07em 0 black;
}

p.policeGc7::first-letter {
    font-family: verdana;
    font-size: 130%;
}

hr {
    margin: .5em;
}
