body {
  font-family: Comic Sans Ms, arial;
  background:url(./images/ciel.gif) fixed #efefef; 
  color:#222;
  /*width: 100%;*/
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, dl {
  margin: 0;
  padding: 0;
}

.nav li a.current {
  color:#fff;
}

.slide {
  min-height:40em;
  width:100%;
  padding:120px 0;
  text-align:center;
  overflow:hidden;
}

.editmode .slide {
  padding-top:130px;
}

.slide ul, .slide ol  {
  list-style-position: inside;
}

.slide table {
  margin: 0 auto;
}
.slide form {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
}
.slide label {
  display:inline;
}

.slides-container {
  position:relative;
}
.std-container {
  width:900px; margin: 50px auto 60px; text-align: left; font-size: 14px; line-height: 20px;
}

#footerOri {
  background-color:rgba(238,238,238,0.9);
  text-align:center;
  padding:10px;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.navbar-fixed-bottom,.navbar-fixed-top {
  position:fixed;
  margin:0;
}

.navbar-inverse .navbar-inner {
  padding: 0 0 0 10px;
}

#footer div.pull-right, .navbar-fixed-bottom a.uarr, .navbar-fixed-bottom a.darr {
  font-size: 14px;
  font-size: 1.4rem;
}

.navbar-fixed-top a.uarr, .navbar-fixed-top a.darr {
  line-height:14px;
  line-height: 1.0;
}

.navbar .brand {
  font-size: 20px;
  line-height: 20px;
}

.brand h1, .brand h2, .brand h3, .brand h4, .brand h5, .brand h6, .brand p {
  margin-bottom: 0;
}

.nav-pills a {
  font-size: 15px;
}

.editmode .navbar-fixed-top {
  padding-top:49px;
  z-index:1;
  background: #fff;
}

.popover {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border:0;
}

.popover .arrow {
  border: 0;
}

#layout, .container_row{
  background-color: rgba(255,255,255,.7);
  width: 90%;
  padding: 10px 10px 20px;
  margin: 20px auto 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#footer{
  position: relative;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

@media (max-width: 979px) {
  #footer {
    /*padding:5px;*/
  }
  .navbar-fixed-bottom a.uarr, .navbar-fixed-bottom a.darr {
    display:none;
  }
}
#menu{
  width:96%;
  margin: 0 auto;
  margin-top: 20px;
}

.mainzone{
  width:80%;
}
.red, .error {
  color:red;
}
