/* Top Elements */
body{
  font:1.1em Comic Sans Ms, Arial, Helvetica, sans-serif;
  color:#010000;
  background:#e7eef6 url(images/ciel.gif) repeat fixed;
  margin:0px auto;
}

/* Links */
a, a:active, a:link {
  text-decoration: none;
  color:#4c8698;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color:#003465;
}
.clear{clear:both}

/* headers */
h1 {
  font-size:4em ;
  color:#221E21; 
}

h2 {
  font:bold 15px Arial, Helvetica, sans-serif;	
  color:#221E21; 
  padding:5px;	
  border-bottom:1px dotted #d8d6ba;
  margin:0px 0px 10px 0px;}

h3 {
  font:bold 13px Arial, Helvetica, sans-serif;	
  color:#221E21; 
  padding:5px 0px 5px 0px;	
  margin:0;}

h4 {
  font:14px Georgia, "Times New Roman", Times, serif;
  color:#221E21; 
  padding:5px 0px 2px 0px;
  margin:0;}

/* Special Cases */
.logo_box a{font-size:48px; Color:#ffffff; text-decoration:none}
img.left-img{float:left; margin-right:10px; margin-bottom:10px;}
.project-img{float:right; margin-left:20px; border: 6px solid #ccc;}
