.bgcolor_blank {
    background-color: #ffffff;
}

.bgcolor_blank .carousel-indicators li {
    background-color: #000000;
}
.bgcolor_blank .carousel-indicators .active {
    background-color: #CCCCCC;
}