/* 
    Created on : 30-juin-2014, 10:23:38
    Author     : dorothy
*/

html{
  background: url("../img/ciel4.gif")repeat fixed; 
}

body{
  color: #0ee;
}

.rayontransparent{
  /*position:absolute;*/
  position:fixed;
  top:0px;
  opacity: 0.5;

  left:0;
  z-index: 0;
}
.monBloc{
  color: black;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  border-radius: 7px;
  background-color:  rgba(255,255,255,0.8);
  /*border: 2px solid red;*/
  z-index: 3;
}
.cadrebebe{
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  color: black;
  margin: 10px auto;
  width: 90%;
  border-radius: 7px;
  /*background-color:  rgba(255,255,255,1);*/
  background-color:  white;
  /*border: 2px solid red;*/
  z-index: 999;
  opacity: 1;
}