.maingc7 {
	padding-top: 20px;
	width: 97%;
	margin: 0 auto;
	font-size: 1.2em;
}

.gc7 .ui.message {
	margin-left: 100px;
	margin-right: 100px;
	background-color: cornsilk;
}

.gc7 .ui.message p {
	color: #0045ff;
}

.justify {
	text-align: justify;
}

#tof {
	border-radius: 15px 0 15px;
	border: 2px solid red;
	box-shadow: 9px 7px grey;

}

a {
	text-decoration: none;
	transition: all 5s ease-in-out;
	color: #da0005!
}

a:hover {
	color: blue;
	text-decoration: overline underline;
	text-shadow: 0 0 3px orange;
	transition: all .7s ease-in-out;
	cursor: pointer;
}

a.navbar-brand:hover {
	color: #ddd;
	background-color: rgba(0, 0, 0, .7);
	/* border: solid red 3px;*/
	border-radius: 5px;
	padding: auto 20px;
}

#opop {
	/ / color: blue;
}

.table-sm td,
.table-sm th {
	padding: 0 3%;
}
