.maingc7 {
    /*padding-top: 20px;*/
    width: 97%;
    margin: 0 auto;
    font-size: 1.0em;
    /*border: 1px solid red;*/
}

.gc7 .ui.message {
    margin-left: 100px;
    margin-right: 100px;
    background-color: cornsilk;
}

.gc7, .gc7 .ui.message p {
    color: #0045ff;
}

.justify {
    text-align: justify;
}

#tof {
    border-radius: 15px 0 15px;
    border: 2px solid red;
    box-shadow: 9px 7px grey;

}

a {
    text-decoration: none;
    transition: all 5s ease-in-out;
    color: #da0005
}

a:hover {
    color: blue;
    text-decoration: overline underline;
    text-shadow: 0 0 3px orange;
    transition: all .7s ease-in-out;
    cursor: pointer;
}

a.navbar-brand:hover {
    color: #ddd;
    background-color: rgba(0, 0, 0, .7);
    /* border: solid red 3px;*/
    border-radius: 5px;
    padding: auto 20px;
}

a.lkdo {
    text-decoration: none;
    padding: 2px 7px 2px;
    border-radius: 7px;
    margin-left: 4px;
}

div.navLi {
    font-size: 1.4rem;
    padding: 0;
    /*margin: 7px 0 10px;*/
    margin: 0 0 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*color: blue;*/
    position: fixed;
    background-color: #fff;
    width: 100%;
    color: rgba(80, 00, 00, .77);
    /*background-color: rgba(255, 255, 255, .3);*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
    0 2px 10px 0 rgba(0, 0, 0, .12);
}

}

div.navLi a {
    color: maroon;
}

div.navLi.mtnav {
    margin-top: 5px;
}

.sameLine {
    font-family: Arial;
    color: #F00;
    border-top: 2px solid #b4b4b4;
    padding-top: 5px;
}

.sameLine:nth-child(1) {
    border-top: 0;
}

.maingc7 > p.sameLine {
    border-top: 2px solid #b4b4b4;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    color: rgba(80, 00, 00, .77);
    /*background-color: rgba(255, 255, 255, .3);*/
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .12),
    0 -2px 10px 0 rgba(0, 0, 0, .16);
}

footer > p {
    margin: 5px auto 0;
    padding-left: 1%;
}

.lead {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 0;
}

#opop {
    color: blue;
}

.table-sm td,
.table-sm th {
    padding: 0 3%;
}

mark {
    font-size: .79em;
    background: yellow;
}

g {
    color: #ff4500;
    font-weight: 800;
    background: yellow;
}

.float-left {
    width: 85%;
}

hr {
    background-color: #000;
}

.mt20 {
    margin-top: 20px;
}

.jumbotron {
    border-radius: 0;
    margin: 0 auto 10px;
    padding: 50px 0 12px;
    width: 100%;
}

div.jumbotronRef {
    width: 100%;
    margin: 0 auto 50px;
    padding: 10px 20px;
}

#lineFile {
    cursor: auto;
    color: rgba(111, 89, 63, 0.5) !important;
    padding: 3px 5px 2px;
    font-size: 2em;
    line-height: 1;
    margin-top: 3px;
}

h5 {
    margin-top: 0;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.pv0 {
    padding-top: 0;
    padding-bottom: 0;
}

.ml10 {
    margin-left: 10px;
}





