body {
  font-size: 1.2em; }

hr {
  line-height: 1; }

.maingc7 {
  font-family: roboto, "Arial", sans-serif;
  font-size: 1.2em;
  color: #7c0000;
  font-weight: 400;
  /*padding-top: 20px;*/
  width: 97%;
  margin: 0 auto;
  /*border: 1px solid red;*/ }

.mainPoo {
  margin-top: 40px; }

.gc7 .ui.message {
  /* margin-right: 100px;*/
  background-color: cornsilk; }

.gc7,
.gc7 .ui.message p {
  color: #0045ff; }

.justify {
  text-align: justify; }

#tof {
  border-radius: 15px 0 15px;
  border: 2px solid red;
  box-shadow: 9px 7px grey; }

a {
  text-decoration: none;
  transition: all 5s ease-in-out;
  color: #da0005; }

a:hover {
  color: blue;
  text-decoration: overline underline;
  text-shadow: 0 0 3px orange;
  transition: all .7s ease-in-out;
  cursor: pointer; }

a.navbar-brand {
  text-align: center;
  vertical-align: middle;
  /*padding: 25px 20px;*/
  display: inline;
  /*  color: white;*/
  /*  background-color: #000;*/
  height: 50px;
  width: 70px;
  /*text-align: center;*/
  padding: 30px;
  margin: 0;
  color: #ffff00 !important; }

a.navbar-brand:hover,
a.navbar-brand:visited {
  color: #ff0303 !important;
  height: 5px;
  font-weight: 800;
  padding: 25px 20px 25px 0 !important;
  text-shadow: 0 0 10px red, 0 0 10px red;
  margin: 0; }

.navbar .navbar-brand {
  align-self: center; }

.p1-0,
.p1-0.navbar-brand {
  color: #ff0303 !important;
  padding: 30px;
  height: 50px;
  width: 70px;
  text-align: center; }

.p1-0,
.p1-0.navbar-brand:hover {
  padding-left: 0;
  font-weight: 800;
  text-shadow: 0 0 10px red;
  color: blue; }

a.lkdo {
  text-decoration: none;
  padding: 2px 7px 2px;
  border-radius: 7px;
  margin-left: 4px; }

div.navLi {
  font-size: 1.4rem;
  /*margin: 7px 0 10px;*/
  top: 0;
  margin: 0 0 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  /*color: blue;*/
  position: fixed;
  background-color: #fff;
  width: 100%;
  color: rgba(80, 0, 0, 0.77);
  /*background-color: rgba(255, 255, 255, .3);*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

div.navLi a {
  color: maroon; }

div.navLi.mtnav {
  /* margin-top: 5px; */ }

.sameLine {
  font-family: Arial, sans-serif;
  color: #F00;
  border-top: 2px solid #b4b4b4;
  padding-top: 5px; }

.sameLine:nth-child(1) {
  border-top: 0; }

.maingc7 > p.sameLine {
  border-top: 2px solid #b4b4b4; }

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  color: rgba(80, 0, 0, 0.77);
  /*background-color: rgba(255, 255, 255, .3);*/
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.12), 0 -2px 10px 0 rgba(0, 0, 0, 0.16); }

footer > p {
  margin: 5px auto 0;
  padding-left: 1%; }

.lead {
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 0; }

#opop {
  color: blue; }

.table-sm td,
.table-sm th {
  padding: 0 3%; }

mark {
  font-size: .79em;
  background: yellow; }

g {
  color: #ff4500;
  font-weight: 800;
  background: yellow; }

.float-left {
  width: 85%; }

.pt0 {
  padding-top: 0; }

.mt20 {
  margin-top: 20px; }

.mt50 {
  margin-top: 50px; }

.mt20 {
  margin-top: 20px; }

.jumbotron {
  border-radius: 0;
  margin: 0 auto 10px;
  padding: 50px 0 12px;
  width: 100%; }

div.jumbotronRef {
  width: 100%;
  margin: 0 auto 50px;
  padding: 10px 20px; }

#lineFile {
  cursor: auto;
  color: rgba(111, 89, 63, 0.5) !important;
  padding: 3px 5px 2px;
  font-size: 2em;
  line-height: 1;
  margin-top: 3px; }

h5 {
  margin-top: 0; }

.mv0 {
  margin-top: 0;
  margin-bottom: 0; }

.pv0 {
  padding-top: 0;
  padding-bottom: 0; }

.ml10 {
  margin-left: 10px; }

div.lead > ul {
  margin-top: -25px; }

.pt10 {
  padding-top: 10px;
  padding-left: 10px; }

.mt20 {
  margin-top: 20px; }

.mt50 {
  margin-top: 50px; }

.mt20 {
  margin-top: 20px; }

h1.meaDo > a {
  color: cornsilk; }

h1.meaDo > a:hover {
  color: red;
  text-decoration: none;
  text-shadow: -1px 2px 3px orange, -2px 3px 5px #ff1813, -3px 4px 10px #000; }

.tac {
  text-align: center; }

.ti {
  font-style: italic; }

.mt55 {
  margin-top: 55px; }

.cr {
  border: 1px solid red;
  padding: 2px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

#poo #description {
  width: 100%;
  color: #7c0000;
  border: 3px solid orange -50;
  border-radius: 7px;
  background-color: #fffffa;
  padding: 10px 20px 20px; }

#poo #description h2 {
  color: #c24646;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 7px; }

#poo #description h2, #poo #description h3, #poo #description h4 {
  font-size: 1.5rem; }

#poo .select-dropdown li.disabled,
#poo .select-dropdown li.disabled > span,
#poo .select-dropdown li.optgroup,
#poo .teteListe {
  color: #4a0000;
  border-radius: 0 0 70px;
  font-style: italic;
  font-weight: bold;
  background-color: #e06464 !important; }

#poo .select-dropdown li.disabled.pl10,
#poo .select-dropdown li.disabled > span.pl10,
#poo .select-dropdown li.optgroup.pl10,
#poo .teteListe.pl10 {
  width: 96%;
  border: 3px solid orange -50;
  padding-left: 10px;
  border-radius: 7px;
  height: 2em;
  background-color: black; }

#poo .select-dropdown li.disabled .dropdown-content,
#poo .select-dropdown li.disabled > span .dropdown-content,
#poo .select-dropdown li.optgroup .dropdown-content,
#poo .teteListe .dropdown-content {
  width: 10%; }

#poo .select-wrapper span.caret {
  z-index: 1001;
  right: 7%; }

#poo #test {
  color: #2582ff; }

#poo #dejaChoix {
  position: absolute;
  top: 5px;
  right: 10px; }

#poo ul {
  border-radius: 7px;
  border: 3px solid orange -50;
  color: red; }

footer {
  font-family: Roboto, arail;
  text-align: right;
  padding: 2px 5px;
  font-size: 1em; }

pre[class*="language-"] {
  width: 80%;
  margin: 5px auto; }

#files {
  margin: 0 auto 30px;
  border-radius: 7px;
  padding: 5px 10px;
  display: none; }

#content {
  width: 100%; }

#divers {
  padding: 20px; }

#pileFlip {
  border: 5px solid #ffbb3d;
  border-radius: 14px;
  background: radial-gradient(farthest-corner at bottom left, #6baafc 20%, white 65%, red 110%); }

#faceFlip {
  border: 5px solid orange -50;
  border-radius: 14px;
  background: linear-gradient(55deg, #6baafc 5%, white 60%, red 110%); }
