$encre: rgb(124, 0, 0);
$coulCadre: orange -50;
$epCadre: 3px;
$cadre: $epCadre solid $coulCadre;
body {
  font-size: 1.2em;
}

hr {
  line-height: 1;
}

.maingc7 {
  font-family: roboto, "Arial", sans-serif;
  font-size: 1.2em;
  color: $encre;
  font-weight: 400;
  /*padding-top: 20px;*/
  width: 97%;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

.mainPoo {
  margin-top: 40px;
}

.ui.header:first-child {
  //margin-top: 10px;
  ///* margin-left: 10px;*/
}

.gc7 .ui.message {
  /* margin-right: 100px;*/
  background-color: cornsilk;
}

.gc7,
.gc7 .ui.message p {
  color: #0045ff;
}

.justify {
  text-align: justify;
}

#tof {
  border-radius: 15px 0 15px;
  border: 2px solid red;
  box-shadow: 9px 7px grey;
}

a {
  text-decoration: none;
  transition: all 5s ease-in-out;
  color: #da0005
}

a:hover {
  color: blue;
  text-decoration: overline underline;
  text-shadow: 0 0 3px orange;
  transition: all .7s ease-in-out;
  cursor: pointer;
}

a.navbar-brand {
  text-align: center;
  vertical-align: middle;
  /*padding: 25px 20px;*/
  display: inline;
  /*  color: white;*/
  /*  background-color: #000;*/
  height: 50px;
  width: 70px;
  /*text-align: center;*/
  padding: 30px;
  margin: 0;
  color: #ffff00 !important;
}

a.navbar-brand:hover,
a.navbar-brand:visited {
  color: #ff0303 !important;
  height: 5px;
  font-weight: 800;
  padding: 25px 20px 25px 0 !important;
  text-shadow: 0 0 10px red, 0 0 10px red;
  margin: 0;
}

.navbar .navbar-brand {
  align-self: center;
}

.p1-0,
.p1-0.navbar-brand {
  color: #ff0303 !important;
  padding: 30px;
  height: 50px;
  width: 70px;
  text-align: center;
}

.p1-0,
.p1-0.navbar-brand:hover {
  padding-left: 0;
  font-weight: 800;
  text-shadow: 0 0 10px red;
  color: blue;
}

a.lkdo {
  text-decoration: none;
  padding: 2px 7px 2px;
  border-radius: 7px;
  margin-left: 4px;
}

div.navLi {
  font-size: 1.4rem;
  /*margin: 7px 0 10px;*/
  top: 0;
  margin: 0 0 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  /*color: blue;*/
  position: fixed;
  background-color: #fff;
  width: 100%;
  color: rgba(80, 00, 00, .77);
  /*background-color: rgba(255, 255, 255, .3);*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.navLi a {
  color: maroon;
}

div.navLi.mtnav {
  /* margin-top: 5px; */
}

.sameLine {
  font-family: Arial, sans-serif;
  color: #F00;
  border-top: 2px solid #b4b4b4;
  padding-top: 5px;
}

.sameLine:nth-child(1) {
  border-top: 0;
}

.maingc7 > p.sameLine {
  border-top: 2px solid #b4b4b4;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  color: rgba(80, 00, 00, .77);
  /*background-color: rgba(255, 255, 255, .3);*/
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .12), 0 -2px 10px 0 rgba(0, 0, 0, .16);
}

footer > p {
  margin: 5px auto 0;
  padding-left: 1%;
}

.lead {
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 0;
}

#opop {
  color: blue;
}

.table-sm td,
.table-sm th {
  padding: 0 3%;
}

mark {
  font-size: .79em;
  background: yellow;
}

g {
  color: #ff4500;
  font-weight: 800;
  background: yellow;
}

.float-left {
  width: 85%;
}

.pt0 {
  padding-top: 0;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

.jumbotron {
  border-radius: 0;
  margin: 0 auto 10px;
  padding: 50px 0 12px;
  width: 100%;
}

div.jumbotronRef {
  width: 100%;
  margin: 0 auto 50px;
  padding: 10px 20px;
}

#lineFile {
  cursor: auto;
  color: rgba(111, 89, 63, 0.5) !important;
  padding: 3px 5px 2px;
  font-size: 2em;
  line-height: 1;
  margin-top: 3px;
}

h5 {
  margin-top: 0;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.pv0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ml10 {
  margin-left: 10px;
}

div.lead > ul {
  margin-top: -25px;
}

.pt10 {
  padding-top: 10px;
  padding-left: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

h1.meaDo > a {
  color: cornsilk;
}

h1.meaDo > a:hover {
  color: red;
  text-decoration: none; //text-shadow: 0 0 10px #880000;
  text-shadow: -1px 2px 3px orange, -2px 3px 5px #ff1813, -3px 4px 10px #000;
}

.tac {
  text-align: center;
}

.ti {
  font-style: italic;
}

.mt55 {
  margin-top: 55px;
}

.cr {
  border: 1px solid red;
  padding: 2px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

//.unChoix {
//  padding-left: 10px;
//  padding-top: 5px;
//  line-height: 1.5em;
//}
#poo {
  #description {
    width: 100%;
    color: $encre;
    border: $cadre;
    border-radius: 7px;
    background-color: cornsilk+30;
    h2 {
      color: $encre + 70;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 7px;
    }
    h2, h3, h4 {
      font-size: 1.5rem;
    }
    padding: 10px 20px 20px;
  }
  .select-dropdown li.disabled,
  .select-dropdown li.disabled > span,
  .select-dropdown li.optgroup,
  .teteListe {
    //line-height: 2em;
    color: $encre - 50;
    border-radius: 0 0 70px;
    font-style: italic;
    font-weight: bold; // background-color: #ffeb7c !important;
    background-color: $encre +100 !important;
    &.pl10 {
      // z-index:1000;
      // min-height: 400px;
      width: 96%;
      border: $cadre;
      padding-left: 10px;
      border-radius: 7px;
      height: 2em;
      background-color: rgba(0, 0, 0, 1);
    }

    .dropdown-content {
      width: 10%;
    }
  }

  .select-wrapper span.caret {
    z-index: 1001;
    right: 7%;
  }

  #test {
    color: #2582ff;
  }
  //
  //#selectTest {
  //  width: 300px;
  //  display: block;
  //  margin-top: 50px;
  //  background-color: #f00;
  //  color: #111;
  //}
  #dejaChoix {
    position: absolute;
    top: 5px;
    right: 10px; // display: none;
  }
  //
  //ul {
  //  display: block;
  //  opacity: 1;
  //}
  li:last-of-type {
    //color: red;
  }
  ul {
    border-radius: 7px;
    border: $cadre;
    color: red;
  }

}

footer {
  font-family: Roboto, arail;
  text-align: right;
  padding: 2px 5px;
  font-size: 1em;
}

//
//:not(pre) > code[class*="language-"], pre[class*="language-"] {
//  //width: 100%;
//  //padding-left: 0;
//  //white-space: pre-wrap;
//}
//
//.token :not(first-line) {
//  //margin-left: -100px;
//  //padding-left: 100px;
//  //color: red;
//}
//
pre[class*="language-"] {
  width: 80%;
  margin: 5px auto;
  //  //overflow: auto;
  //  //margin-left: -50px;
}

#files {
  //width: 90%;
  margin: 0 auto 30px;
  border-radius: 7px;
  padding: 5px 10px;
  //border: $cadre;
  display: none;
}
#content{
  width: 100%;
}

#divers{
  padding: 20px;
}
#pileFlip {
  
  // width: 100%;
  // height: 400px;
  border: 5px solid lighten(rgb(255,165,0),12% );
  border-radius: 14px;
  // margin-bottom: 20px;
  background:
// radial-gradient(rgb(107, 170, 252), white, red),
radial-gradient(farthest-corner at bottom left, rgb(107, 170, 252) 20%, white 65%, red 110%),
}
#faceFlip {
  // width: 100%;
  // height: 400px;
  border: 5px solid $coulCadre;
  border-radius: 14px;
  // margin-bottom: 20px;
  background:
   linear-gradient(55deg, rgb(107, 170, 252) 5%, white 60%, red 110%);
}